<div class="modal" id="contact-modal">
    <div class="modal__content">
        <form class="form" action="" method="post">
            <div class="form__group">
                <input class="form__control form__control--textarea" type="text" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <input class="form__control form__control--textarea" type="email" placeholder="Ваш e-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="form__line"></span>
            </div>
            <div>
                <div class="form__group">
                    <button class="btn  btn--red    btn--rounded">Отправить</button>
                </div>
            </div>
        </form>
        
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:alexaf_2004@mail.ru">alexaf_2004@mail.ru</a>
            </li>
            <li>
                тел: <a href="tel:+79853650246">8(985)365-02-46</a>
            </li>
        </ul>
        <button class="modal__close">
            <img src="/assets/images/close.svg" alt="Закрыть">
        </button>
    </div>
</div>