<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="../index.html">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has--subnav" href="#">Обо мне</a>
                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="../education.html">
                                Образование
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="https://github.com/huujin" target="_blank">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="subnav__link" href="../reviews.html" >
                                Отзывы
                            </a>
                        </li>
                    </ul>
                    
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="profile.html">Профиль</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Выйти</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Поиск по сайту">
        </form>
    </div>
</header>
