<aside class="sidebar"> 
    <div class="sidebar__header">
        <img src="assets/images/sidebar_header.jpg" alt="">
    </div>
    
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/avatar.jpg" alt="">
            <div class="profile__name">Александр Афанасьев</div>
            <div class="profile__prof">front-end delevoper</div>
            
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="https://vk.com/tv0i.sempai" target="_blank">
                        <img src="assets/images/vkontakte.svg" alt="">
                    </a> 
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instargam.svg" alt="">
                    </a> 
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/telegram.svg" alt="">
                    </a> 
                </li>
            </ul>
            
            <div class="profile__text">
                <p>
                    Закончил лицей информационных технологий по направлению "программирование". Сейчас учусь в МГТУ им. Баумана на направлении программирования. Знаю большое количество языков, ООП, серверное программирование и легко обучаюсь. Имею образование вожатого, 3 месяца работал вожатым. Год готовил ученика к ОГЭ по информатике с отличным результатом. Изучение английского языка 11 лет. ЕГЭ по информатике на 95
                </p>
            </div>
            
        </div>
    </div>
    
    <div class="sidebar__footer">
        <a class="btn   btn--red" href="../projects.html">Мои работы</a>
        <button class="btn   btn--red" type="button"    data-modal="contact-modal">Написать мне</button>
    </div>
    
    
</aside>
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="sidebar__footer"></div>
</aside>